<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jump into Django | {% block title %} Homepage {% endblock %}</title>
</head>
<body>
	<div id="header">
		{% if user.is_authenticated %}
			<p>Welcome, <strong>{{ user.username }}</strong> | <a href="{% url 'logout' %}">Log out</a></p>
		{% else %}
			<p>Welcome, guest.  Please <a href="{% url 'login' %}">log in</a></p>
		{% endif %}
		<h1>Jumping into Django</h1>
	</div>
	<nav>
		<p><a href="{% url 'homepage'%}">Home</a> | <a href="{% url 'questions'%}">Questions</a></p>
	</nav>
	<div id="content">
		{% block content %}
		{% endblock content %}
	</div>
</body>
</html>